body{
    max-width:1600px;
    margin:0 auto;
    width:100%;
    font-family: 'Proxima Nova ExCn Rg';
    background-color: #ffffff;
}
.header-mobile{display:none !important;}
.nav-mobile {display: none !important;}
.titulos{font-family: 'Proxima Nova ExCn Sb';}
header .container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}
.header-top {
    width: 100%;
    margin: 0 auto;
    padding: 0 35px;
}
.header-left,
.header-center,
.header-right {
    flex: 1; 
}
.header-center {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.header-right {
    display: flex;
    justify-content: flex-end;
}
header .row:first-child .col-12 {
    position: relative;
    padding: 40px 0;
    min-height: 176px;
    max-width: 1600px;
    margin: 0 auto;
}
#logoprincipal{
    display: block;
    height: 116px;
    width: 210px;
    margin: 0;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: -22px;
}
.social-icons img {
    width: 30.28px;
    height: 29.11px;
}
.separator {
    width: 1px;
    height: 32px;
    background-color: #716E6E;
    margin-left: 5px;
    margin-right: 4px;
}
#carousel1 {
    width: 100%;
    max-width: 1600px;
    position: relative !important;
    box-shadow:1px 1px 10px #3E3E3E;
}
#carousel1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#carousel1 .carousel-indicators {
    position: absolute;
    display: flex;
    top: 20px;
    right: 4%;
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    z-index: 20 !important;
    max-height: 75% !important;
}
#carousel1 .carousel-inner {
    position: relative;
    z-index: 1;
}
#carousel1 .carousel-indicators button:not(.active) {background-image: url("../imagens/carousel1/bola_branca_nao_seleccionada.svg") !important;}
#carousel1 .carousel-indicators button.active {background-image: url("../imagens/carousel1/bola_branca_seleccionada.svg") !important;}
#carousel1 .carousel-indicators [data-bs-target] {
    width: 22px !important;
    height: 22px !important;
    background-color: transparent !important;
    background-image: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
.navbar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -40px;
    z-index: 10;
}
.navbartopo {
    width: 88%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #3E3E3E;
    height: 67px;
    box-shadow:1px 1px 8px #3E3E3E;
}
.nav-link.active {
    font-size: 24px;
    font-weight: 600;
}
.dropdown-menu {
    background-color: #3E3E3E !important;
    border: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
}
.nav-link, .dropdown-item{
    color:#FFFFFF !important;
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 22px;
    text-transform: uppercase;
    padding: 0 22px !important;
}
.navbartopo .nav-link{line-height:63px;border-top: 4px solid transparent;}
.navbartopo .nav-link:hover {
    border-top: 4px solid #FFFFFF;
    font-size:24px;
}
.dropdown-item {
    border-bottom: 1px solid #FFFFFF;
    position: relative;
    padding-left: 32px !important;
    line-height:35px;
}
.dropdown-item::before {
    content: "";
    position: absolute;
    opacity: 0;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px; 
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../imagens/seta_submenu.svg");
}
.dropdown-item:hover::before {opacity: 1;}
.dropdown-item:hover {background-color: #3E3E3E !important;}
.navbartopo .navbar-nav {
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}
#intro {
    max-width: 1250px;
    margin: 60px auto 40px auto;
    text-align: center;
    padding: 0 20px;
}
#intro h1 {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 5px;
    color: #4D4D4D;
}
#intro h2 {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 44px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 35px;
    color: #4D4D4D;
}
#intro p {
    font-family: 'Proxima Nova ExCn Rg';
    font-size: 20px;
    line-height: 1.45;
    max-width: 1250px;
    margin: 0 auto 55px auto;
    color: #4D4D4D;
}
#intro .titulo-secundario {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #4D4D4D;
}
#destaques {
    max-width: 1600px;
    margin: 5px auto;
    padding: 0 20px;
}
#destaques .titulo-secundario {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 42px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 25px;
}
.linha-separadora {
    width: 78% !important;
    max-width: 1300px;
    margin: 10px auto 40px auto;
    border: none;
    border-top: 3px solid #4D4D4D;
}
#carouselDestaques {
    width: 81%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
#carouselDestaques .destaques-img {
    width: 100%;
    max-width: 630px;
    min-width: 500px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0 !important;
}
#carouselDestaques .destaques-conteudo {
    flex:1;
    max-width: 520px !important;
    min-width: 420px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#carouselDestaques .destaques-titulo {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 34px;
    color: #4D4D4D;
}
#carouselDestaques .destaques-data {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 30px;
    margin-bottom: 20px;
    color: #4D4D4D;
    line-height:15px;
}
#carouselDestaques .destaques-texto {
    font-family: 'Proxima Nova ExCn Rg';
    font-size: 22px;
    line-height: 1;
    color: #4D4D4D;
    margin-bottom: 35px;
    max-width: 100%;
}
.destaques-btn {
    display: block;
    align-self: flex-end;
    background-color: #006E94;
    color: #FFFFFF !important;
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 17px !important;
    text-decoration: none;
    transition: 0.2s ease;
    width: 140px;
    text-align:center;
    padding: 2px !important;
    margin-top: 62px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.destaques-btn:hover {
    background-color: #4D4D4D;
    color: #FFFFFF;
}
#carouselDestaques {margin-top: 0;}
#carouselDestaques .carousel-indicators [data-bs-target] {
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1 !important;
    border: none !important;
    width: 26px;
    height: 26px; 
}
#carouselDestaques .carousel-item .row {
    display:flex;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: center;
}
#carouselDestaques .carousel-item .col-6 {
    max-width: none !important;
    flex: none !important;
}
#carouselDestaques .carousel-indicators button:not(.active) {background-image: url("../imagens/carousel2/bola_azul.svg");}
#carouselDestaques .carousel-indicators .active {background-image: url("../imagens/carousel2/bola_cinza.svg");}
#carouselDestaques .carousel-control-prev,
#carouselDestaques .carousel-control-next {
    width: 60px;
}
#carouselDestaques .carousel-control-prev-icon,
#carouselDestaques .carousel-control-next-icon {
    background-size: contain;
    background-repeat: no-repeat;
}
#carouselDestaques .carousel-control-prev-icon {background-image: url("../imagens/carousel2/seta_destaques_esquerda.svg");}
#carouselDestaques .carousel-control-next-icon {background-image: url("../imagens/carousel2/seta_destaques_direita.svg");}
#carouselDestaques .carousel-indicators {
    justify-content: center;
    gap: 14px;
    bottom: -60px;
    padding-bottom: 19px;
    right: 280px !important;
    background-color:white;
}
#carouselDestaques .carousel-indicators [data-bs-target]:hover {
    opacity: 1 !important;
}
#carouselDestaques .carousel-control-prev,
#carouselDestaques .carousel-control-next {
    width: 90px;   
}
#carouselDestaques .carousel-control-prev-icon,
#carouselDestaques .carousel-control-next-icon {
    width: 50px;
    height: 70px;
    background-size: 70px 70px;
}
#carouselDestaques .carousel-control-prev {
    left: -110px;
    opacity: 1 !important;
}
#carouselDestaques .carousel-control-next {
    right: -110px;
    opacity: 1 !important;
}
#noticias {
    width: 100%;
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 0px 40px 0px;
    box-shadow: 0 -12px 15px rgba(0,0,0,0.15),
                0 12px 15px rgba(0,0,0,0.15);
}
#carouselNoticias {
    width: 100%;
    max-width: 1600px;
    height: 735px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
#carouselNoticias .noticias-img {
    width: 100%;
    height: auto !important;
    max-height: 540px;
    object-fit: cover;
    display: block;
}
#carouselNoticias .noticias-conteudo {
    position: relative !important; 
    bottom: 397px; 
    left: 270px;  
    width: 680px;
    background: rgba(255,255,255,0.85);
    padding: 40px 30px 40px; 
}
#carouselNoticias .noticias-btn {
    position: absolute;          
    left: 24%;                    
    bottom: 341px;                 
    display: inline-block;
    background-color: #006E94;
    color: #FFFFFF !important;
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 18px;
    text-decoration: none;
    padding: 2px;
    width:130px;
    text-align:center;
}
#carouselNoticias .noticias-titulo {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 32px;
    color: #4D4D4D;
    margin-bottom: 10px;
}
#carouselNoticias .noticias-data {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 26px;
    color: #4D4D4D;
    margin-bottom: 20px;
}
#carouselNoticias .noticias-texto {
    font-family: 'Proxima Nova ExCn Rg';
    font-size: 20px;
    color: #4D4D4D;
    line-height: 1.3;
}
#carouselNoticias .noticias-btn:hover {
    background-color: #4D4D4D;
}
#carouselNoticias .carousel-indicators {
    bottom: 118px;
    left: 530px !important;
    right: 0 !important;
    margin: 0 auto !important;
    gap: 12px;
    justify-content: center;
    background-color:white;
    padding-bottom: 15px;
}
#carouselNoticias .carousel-indicators [data-bs-target] {
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    opacity: 1 !important;
    z-index: 60 !important;
}
#carouselNoticias .carousel-indicators button:not(.active) {background-image: url("../imagens/carousel2/bola_azul.svg");}
#carouselNoticias .carousel-indicators .active {background-image: url("../imagens/carousel2/bola_cinza.svg");}
#noticias .titulo-secundario {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 42px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 60px! important;
}
#navbarfundo {
    margin-top: -7px;
    z-index: 20;
}
.navbarfundo-topo {
    width: 1320px;
    height: 67px;
    display: flex;
    align-items: center;
}
.navbarfundo-link {
    color: #2E2E2E !important;
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 22px;
    padding: 0 30px !important;
    line-height: 63px;
    text-transform: uppercase;
    border-top:4px solid transparent;
}
.navbarfundo-link:hover {
    color:#006E94 !important;
    border-top:4px solid #006E94;
}
.navbarfundo-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}
footer{
    margin-top:35px;
}
#footerfundo {
    background-color: #ffffff;
    padding: 40px 0 20px 0;
    max-width: 1460px;
    margin: 0 auto;
    margin-top: 30px;
}
#footer-logos {
    gap: 40px;
    padding-bottom: 25px;
}
.footer-logo {
    height: 65px;
    object-fit: contain;
}
.footer-logo:hover,
.footer-certificados:hover,
.footer-livro:hover,
.footer-icon:hover,
.footer-consumo:hover
{cursor:pointer;}
#footer-linha {
    width: 86%;
    margin: 0 auto 25px auto;
    border: none;
    border-top: 2px solid #4D4D4D;
    opacity:1 !important;
}
#footer-info {
    width: 88%;
    margin: 0 auto;
    margin-left: 100px !important;
}
.footer-icon {
    width: 26px;
    height: 26px;
    object-fit: contain;
}
#footer-copyright {
    font-family: 'Proxima Nova ExCn Sb';
    font-size: 15px;
    color: #4D4D4D;
    margin-top: 20px;
    margin-left: 90px;
    padding-bottom:30px;
}
.footer-livro {
    height: 38px;
    object-fit: contain;
}
.footer-consumo {
    height: 38px;
    object-fit: contain;
}
#samsung{width: 120px !important;}
.footer-mobile{display:none !important;}
#titulo-empresa{
    text-align: right;
    font-size: 32px !important;
    color: #4D4D4D !important;
    font-weight: bold;
}
.corpo-texto {
    width: 90%;
    margin: -50px auto 0 auto;
    background: #fff;
    padding: 15px;
    color: #4D4D4D !important;
}
.card-destaque{
    margin: 0 auto;
    margin-bottom:40px;
    color: #4D4D4D !important;
}
.card-img-top{
    height: 280px;       
    object-fit: cover;    
    width: 100%;          
}
.card-title{
    font-weight:bolder;
    color: #4D4D4D !important;
    font-size:22px;
}
.pagination-btn {
    font-size: 20px;
    padding: 0px 11px;
    font-weight:bold;
    color: #4D4D4D !important;
}
.pagination-btn.btn-primary {color: #fff !important;}
.pagination-btn:hover{color: #fff !important;}
.container_destaque{
    width:80%;
}
.card-text{
    font-size:20px;
}
.imgsolucoes{
    height:500px !important;
    object-fit:cover !important;
    width: 100%;
}
.textomobile{
    text-align: justify;
    font-size: 20px;
    color: #4D4D4D;
}
.textoempresa{
    text-align: justify;
    font-size: 22px;
    color: #4D4D4D;
}
.parceiros{
    max-width:55% !important;
    margin-bottom: 40px;
}
.container-empresa{
    width: 98%;
    max-width: 85%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px !important;
    margin-bottom:100px !important;
    color: #4D4D4D !important;
}
.shadownav{
    box-shadow: 0 12px 15px rgba(0,0,0,0.15);
}
.titulocontactos{
    line-height:20px;
    font-weight:bold;
    color: #3b3b3b !important;
}
label.titulocontactos{
    font-size:28px;
}
.form-control{
    border:1px solid black;
    border-radius: 0;
    font-weight: bold;
    font-size: 26px;
}
.form-check-input{
    border:1px solid #7e7e7e;
    border-radius: 0px !important;
}
.contacto{
    font-weight:bold;
    color: #4d4d4d !important;
    font-size:28px;
    line-height:40px;
}
.container-contactos{
    padding-left:140px;
}
h5.titulocontactos{
    color: #7e7e7e !important;
}
.recaptcha{
    width:250px;
}
.botaoalto{
    padding-bottom:12px !important;
    font-size:23px !important;
    margin-top: 0px !important;
    width:120px !important;
}
.caixabotaoenviar{
    margin-top:-61px;
}
@media (max-width:1400px) and (min-width :992px){
    .caixabotaoenviar{
        margin-top:61px;
    }
}
@media (max-width: 1267px) and (min-width: 992px) {
    .navbartopo {max-width:95%;}
    .nav-link {
        padding: 0 10px !important;
        font-size: 18px; 
    }
    .navbar {max-width: 100%; }
}
@media (max-width: 1266px) {
    #intro {padding: 0 80px;}
    #carouselDestaques .carousel-item .row {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        max-width: 650px !important;
        width: 100% !important;
        margin: 0 auto !important;
        text-align: left !important;
    }
    #carouselDestaques .destaques-img {
        width: 100% !important;
        height: auto !important;
        margin: 0 0 25px 0 !important;
        display: block !important;
    }
    #carouselDestaques .destaques-conteudo {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: left !important;
        position: relative;
        padding-bottom: 70px !important;
    }
    #carouselDestaques .destaques-btn {
        display: inline-block !important;
        align-self:flex-start;  
    }
    #carouselDestaques .carousel-indicators {
        position: absolute !important;
        bottom: 10px !important;
        width: 550px !important;      
        left: 50% !important;           
        transform: translateX(-50%);    
        padding: 10px;
        display: flex !important;
        justify-content: flex-end !important;
        margin: 0 !important;
    }
    #carouselDestaques .carousel-item .col-6 {
        width: 100% !important;
        max-width: 100% !important;
        flex: none !important;
    }
}
@media (max-width: 1266px) {
    #carouselNoticias .noticias-img {
        width: 100% !important;
        height: 500px !important;
        display: block !important;
        object-fit: cover;
    }
    #carouselNoticias .noticias-conteudo {
        position: absolute !important;
        bottom: 45px !important; 
        left: 50% !important;
        transform: translateX(-50%) !important;
        max-height: 70%;
        width: 80% !important;
        max-width: 620px !important;
        background: rgba(255,255,255,0.90);
    }
    #carouselNoticias .noticias-btn {
        position: relative !important;
        bottom: auto !important;
        transform: none !important;
        margin: 15px 0 0 -25px !important; 
        width: 140px !important;
        display: inline-block !important;
    }
    #carouselNoticias .carousel-indicators {
        position: absolute !important;
        left: 50% !important;
        bottom: 120px !important;
        width: 550px !important;
        left: 50% !important;
        transform: translateX(-50%);
        margin: 0 !important;
        padding: 0 30px !important;
        display: flex !important;
        justify-content: flex-end !important;
        gap: 10px !important;
        background-color:white;
    }
}
@media (max-width: 992px) {
    #carouselDestaques .carousel-control-prev,
    #carouselDestaques .carousel-control-next {
        display: none !important;
    }
    #carouselNoticias .noticias-conteudo {
        position: relative !important;
        bottom:180px !important;
        z-index: 10;
    }
    #carouselNoticias .noticias-btn {
        position: absolute !important; 
        bottom: 180px !important; 
        left: 18%;
        transform: translateX(-50%);
        z-index: 9999 !important;
    }   
    #carouselNoticias {height: 935px !important;}
    #carouselNoticias .carousel-indicators {
        position:absolute;
        background-color: transparent !important;
        padding-bottom: 0 !important;
        bottom: 105px !important;
    }
    #footerfundo {margin-top: 0px;}
    #noticias{padding-bottom:0px;}
    #footer-social{
        position:relative;
        transform:scale(150%);
        bottom:150px !important;
    }
    #noticias {padding: 0 !important;}
    #footer-logos{
        position:relative;
        bottom:90px !important;
    }  
    #footer-linha{
        position:relative;
        bottom:90px !important;
    }
    #footer-certificados{
        position:relative;
        margin: auto;
        transform:scale(130%);
        bottom:90px !important;
        left: -10% !important;
    }
    #footer-copyright{
        position:relative;
        font-size:20px !important;
        bottom:80px !important;
        align-items:center !important;
        margin-top:20px !important;
        margin-left:0 !important;
        margin-bottom:-100px !important;
        text-align:center;
    }
    .navbartopo {
        background-color: transparent !important;
        box-shadow: none !important;
        height: auto !important;
        padding: 10px !important;
        margin: 0 !important;
        width:100% !important;
        justify-content: flex-end;
        position:relative !important;
        display:flex;
    }
    .navbartopo .container {
        padding: 30px 0 !important;
        height: auto !important;
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important;
        width:100% !important;
    }
    header{
        position: relative !important;
        min-height: 80px !important;
    }
    .navbar{
        position: static !important;
        width: 100% !important;
    }
    .navbar-toggler {
        color: #000 !important;
        border: none !important;
        background: transparent !important;
        position: absolute !important;
        right: 30px !important;
        top: -120px;
        z-index: 9999 !important;
        transform:scale(200%);
    }
    .navbar-collapse {
        background-color: #3E3E3E !important;
        width:100% !important;
        padding: 1px !important;
    }
    .navbar-nav {
        flex-direction: column !important;
        width:100% !important;
    }
    .nav-link,
    .dropdown-item {
        color: #FFF !important;
        padding: 5px 0px !important;
        font-size: 22px !important;
        line-height: 12px;
    }
    .dropdown-menu {
        position: relative !important;
        background: #3E3E3E !important;
        border: none !important;
        display: none !important;
    }
    #intro h2 {display:none;}
    #carousel1 .carousel-indicators {display:none !important;}
    .nav-desktop{display:none !important;}
    .navbartopo .nav-link{line-height:5px;border-top: 4px solid transparent;}
    .nav-mobile {
        display: flex !important;
        background-color: #3E3E3E;
        padding: 10px 0px !important;
        width: 100vw !important;
        max-width: 100vw !important;
        z-index: 9999 !important;
        position: relative !important;
        margin-top: 30px !important;
        left: 0 !important;
        right: 0 !important;
    }
    .nav-mobile .container {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
        width: 100% !important;
        margin:0 auto !important;
    }
    #navbarMobile {
        background-color: #3E3E3E;
        width: 100% !important;
        max-width: 100vw !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    #navbarMobile .navbar-nav {
        flex-direction: column !important;
        gap: 10px;
        padding: 10px 30px;
        margin-left:-30px!important;
    }
    #navbarMobile .dropdown-item {
        color: #3E3E3E !important;
        background-color: #fff;
        font-size: 20px;
        padding: 8px 0px 8px 60px!important;
        text-transform: uppercase;
        font-family: 'Proxima Nova ExCn Sb';
        border: none !important;
        min-width:120% !important;
    }
    #navbarMobile .nav-link {
        color: #fff !important;
        font-size: 20px;
        padding: 8px 30px!important;
        text-transform: uppercase;
        font-family: 'Proxima Nova ExCn Sb';
        border: none !important;
    }
    #navbarMobile .dropdown-menu {display: none !important;}
    #navbarMobile .dropdown-menu.show {display: block !important;}
    body {
        max-width: 100vw !important;
        overflow-x: hidden !important;
    }
    .header-center{
        position:relative;
        right:25% !important;
    }
    #navbarMobile .dropdown.show > .dropdown-menu {display: block !important;}
    .social-icons{
        transform:scale(85%);
        position:absolute !important;
        top:150px;
        right:-25%; 
    }
    #carousel1 img {
        width: 100%;
        height: auto;
        min-height:300px;
        object-fit: cover;
    }
    #carousel1{
        position:relative !important;
        top:-50px !important;
    }
    #intro{margin: 30px auto 40px auto;}
    #carouselDestaques .carousel-indicators {
        position: absolute !important;
        bottom: 10px !important;
        width: 550px !important;
        left: 50% !important;
        transform: translateX(-55%);
        padding: 10px;
        display: flex !important;
        justify-content: flex-end !important;
        margin: 0 !important;
    }
    .header-desktop{display:none !important;}
    .header-mobile {display: flex !important;}
    .header-center {
        display: flex;
        padding-top: 30px;
    }
    #logoprincipal{transform:scale(90%)}
    .dropdown-item::before {
        content: "";
        position: absolute;
        opacity: 0;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../imagens/seta_submenu_mobile.svg");  
    }
    .dropdown-item:hover::before {opacity: 1;}
    .nav-link:hover{font-size:23px !important;}
    .dropdown-item:hover {
        background-color: #fff !important;
        font-size:23px !important;
    }
    .footer-desktop{display:none !important;}
    .footer-mobile{display:flex !important;}
    .navbarfundo-topo {height:0px!important;}
    #titulo-empresa{
        text-align: center;
        font-size: 24px !important;
        font-weight: bold;
    }
    .container-contactos{
        padding-left:80px !important;
    }
    .caixabotaoenviar{
        margin-top:50px !important;
        margin-bottom:50px !important;
    }
}
@media (max-width: 610px){
    .social-icons {
        transform: scale(85%);
        position: absolute !important;
        top: 120px;
        margin-right:-30px;
    }
    #logoprincipal{
        transform:scale(80%);
        margin-left:-30px;
    }
    .navbar-toggler{top: -135px !important;}
    #intro {
        position:relative;
        margin: 0px;
        padding: 10px;
        text-align: justify;
        top: -80px;
    }
    #intro h1{
        margin-top: 55px;
        margin-bottom: 55px;
        width:90%;
        font-size:35px;
        text-align:center;
    }
    #intro p{
        position:relative;
        top:-30px;
        margin-bottom: 0px;
    }
    #destaques{
        position:relative;
        top:-80px;
    }
    #carouselDestaques{
        margin-left : 0 !important;
        margin-right : 0 !important;
        width:100% !important;
    }
    #carouselDestaques .destaques-img {
        position:relative !important;
        width: 100% !important;
        height: auto !important;
        max-width:100%;
        min-width:100%;
    }
    #carouselNoticias .noticias-texto{font-size:18px !important}
    #carouselNoticias .noticias-titulo{font-size:26px !important}
    #destaques .titulo-secundario{font-size:30px !important;}
    #carouselDestaques .carousel-item .row{align-items:normal !important;}
    #carouselNoticias .noticias-conteudo{bottom:200px !important;}
    #carouselNoticias .noticias-btn{bottom:200px !important;}
    #noticias .titulo-secundario{
        margin-top: -100px;
        font-size: 30px !important;
    }
    #carouselDestaques .carousel-item .col-6 {
        justify-content:center;
        min-width:100% !important;
    }
    .linha-separadora{width:100% !important;}
    #carouselDestaques .carousel-indicators{
        left: 30% !important;
        transform: translateX(-55%) scale(85%);
        padding: 10px;
        display: flex !important;
        justify-content: flex-end !important;
        gap: 6px;
    }
    #carouselNoticias .carousel-indicators{
        left: 43% !important;
        transform: translateX(-55%) scale(85%);
        padding: 10px;
        display: flex !important;
        justify-content: flex-end !important;
        gap: 6px;
    }
    #carouselDestaques .destaques-texto {
        font-family: 'Proxima Nova ExCn Rg';
        font-size: 18px;
        color: #4D4D4D;
        margin-bottom: 35px;
    }
    #carouselDestaques .destaques-titulo {
        font-family: 'Proxima Nova ExCn Sb';
        font-size: 24px;
        color: #4D4D4D;
    }
    #carouselNoticias {height: 1215px !important;}
    .footer-logo,
    #samsung,
    .footer-consumo,
    .footer-livro{transform:scale(75%);}
    #footer-certificados{left: -15% !important;}
    #footer-logos{gap:20px;}
    #footer-copyright{font-size:16px !important;}
    #titulo-empresa{
        text-align: center;
        font-size: 22px !important;
        font-weight: bold;
    }
}

@media (max-width: 767.98px) {
    .card-destaque {
        width: 100% !important;  
        margin: 0 !important;
        margin-bottom: 20px !important; 
    }
    .card-img-top {
        height: 320px !important;
        width: 100% !important;
        border-radius: 0; 
    }
    #titulo-empresa{
        text-align: center;
        font-size: 22px !important;
        font-weight: bold;
    }
    .corpo-texto {
        width: 90%;
        margin: -40px auto 0 auto;
    }
    .corpo-texto{font-size:19px !important;}
    .card-title{font-size:22px !important;}
    .row.g-0.g-md-5 > .col-12.col-md-6:nth-of-type(n+7) {display: none !important;}
    .imgsolucoes{
        height:300px !important;
        object-fit:cover !important;
        width: 100%;
    }
    .container_destaque{
        width:100%;
        margin-bottom:60px;
    }
    .textomobile{
        text-align: justify;
        font-size: 16px;
        color: #4D4D4D;
        width:85% !important;
        margin:auto;
    }
    .container-empresa{
        font-size: 16px !important;
        max-width: 95% !important;
    }
    .parceiros{
        width:100% !important;
        margin-bottom: 40px;
    }
    .shadownav{margin-top:150px !important;}
    .container-contactos{
        padding-left:0px !important;
        margin-bottom:70px;
    }
    .caixabotaoenviar{
        margin-top:50px !important;
    }
}