@font-face {
    font-family: 'Proxima Nova ExCn Rg';
    src: url('ProximaNovaExCn-Regular.woff2') format('woff2'),
        url('ProximaNovaExCn-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Proxima Nova ExCn Sb';
    src: url('ProximaNovaExCn-Semibold.woff2') format('woff2'),
        url('ProximaNovaExCn-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

