body {
  background-image: url('../imagens/fundo.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
}
.active{
  color:dodgerblue !important;
  transform:scale(110%);
}
a:hover{
  transform:scale(116%);
}
p.legenda{
  font-size:12px !important;
  text-align:left !important;
}
.removerpaddingtop{
  margin-top: -50px;
}

.galeria{
  transform:scale(88%);
  margin-top:-100px;
}

.margemtopo{
  margin-top: 100px !important;
}

.collapse-icon {
  transition: transform 0.3s ease;
  display: inline-block;
}

[data-bs-toggle="collapse"]:not(.collapsed) .collapse-icon {
  transform: rotate(180deg);
}