body {
  background-image: url('../imagens/fundo.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caixa{
  background-color: rgba(255, 255, 255, 0.75);
  border:2px solid rgb(66, 66, 66);
  border-radius:10px;
  text-align:center;
  max-width:100%;
  margin: 20px auto;
  padding:20px;
  color:#4D4D4D;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.caixa h1{
  text-transform:uppercase;
}

.caixa label{
  color:black;
}

footer{
  position:absolute;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.55);
  width:100%;
  text-align:center;
  text-transform:uppercase;
}

footer p{
  margin:0px;
  text-transform:uppercase;
}

input{
  text-align:center;
}

button{
  background-color:aqua;
  border-radius:10px;
  border:1px dashed #4D4D4D;
  cursor:pointer;
  transition: 0.2s ease;
}

a:hover{
  transform:scale(110%);
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

a{
  color:white !important;
}

.active{
  color:dodgerblue !important;;
}

a:hover{
  transform:scale(110%);
}

