body {
  background-image: url('../imagens/fundo.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



input{
  text-align:center;
}

button{
  background-color:aqua;
  border-radius:10px;
  border:1px dashed #4D4D4D;
  cursor:pointer;
  transition: 0.2s ease;
}


.tabela {
  width: 100%;
  border-collapse: collapse;
}


.active{
  color:dodgerblue !important;
  transform:scale(110%);
}

a:hover{
  transform:scale(116%);
}
p.legenda{
  font-size:12px !important;
  text-align:left !important;
}

.removerpaddingtop{
  margin-top: -50px;
}